@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&family=Press+Start+2P&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Playpen+Sans:wght@300&family=Press+Start+2P&family=Quicksand&family=Tilt+Neon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jetbrains mono;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: rgb(15, 13, 22);
  color: white;
  height: 100rem;
  width: 100%;
}

.container {
  position: relative;
  /* margin-top: 100px; */
}

.bg {
  background-image: url(img/bg.png);
  filter: brightness(130%);
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0px;
  left: 0px;
  /* filter:contrast(1.2); */
  /* opacity: 0.8; */

}

/* NavBar */
nav {
  /* Makes the nav a flex container, which allows for flexible layout */
  display: flex;

  /* Distributes space between and around items along the horizontal axis */
  justify-content: space-between;

  /* Adds padding to the left and right of the nav */
  padding-left: 100px;
  padding-right: 50px;

  /* Aligns items along the vertical axis in the center */
  align-items: center;

  /* Sets the height of the nav */
  height: 85px;

  /* Sets the background color of the nav */
  background-color: rgb(65, 90, 119);

  /* Sets the font of the text within the nav */
  font-family: "Tilt Neon", sans-serif;

  /* Adds a shadow effect to the nav */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* Sets the background color of the nav with transparency */
  background: rgb(18, 16, 30, 0.8);

  /* Applies a blur effect to the area behind the nav */
  backdrop-filter: blur(4px);

  /* Makes the nav stick to the top of the viewport */
  position: sticky;
  position: fixed;
  top: 0;

  /* Sets the stack order of the nav */
  z-index: 1;

  /* Sets the width of the nav */
  width: 100%;
}

.left img {
  width: 179px;
  margin-left: -20px;
  height: 100px;
  margin-top: 10px;


}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  /* font-family: "Tilt Neon", sans-serif; */
  margin: 0 20px;
}

nav ul li {
  display: inline-block;
  /* font-family: "Tilt Neon", sans-serif; */
  position: relative;
  color: white;
  font-size: 1.12rem;
}

nav ul li:hover {
  transition: ease-in-out 0.2s;

  transform: scale(1.1);
  /* text-decoration: underline; */
  text-underline-offset: 3px;

}

nav ul li:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: whitesmoke;
  left: 0;
  bottom: -3px;
  transition: ease-in-out 0.2s;
}

nav ul li a:hover {
  color: #a3a3e5;
}

a {
  text-decoration: none;
  color: white;
}

/* main section div and image */

.firstSec {
  display: flex;
  justify-content: space-around;
  margin: 220px 0;
  align-items: center;
  margin-left: 200px;
}

/* .line{
  width: 1px;
  position: absolute;
  height: 1px;
  background-color: rgb(163, 163, 229);
  margin-top: 650px;
  margin-left: 100%;
  margin-right: 100%;
} */

.firstSec>div {
  width: 100%;
}

.leftSec {
  position: relative;
  font-size: 2.5rem;
  /* margin-top: 2%; */
  font-family: jetbrains mono;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  margin-right: 50px;
  margin-left: -65px;

}

.leftSec>div {
  width: 800px;
}



.rightSec img {
  width: 140%;
  margin-top: 47px;
  position: fixed;
  margin-left: 80px;

}

.skills {
  height: 75%;
  width: 75%;
  margin-top: 90px;
  /* top: 999; */
  animation: slideIn 2s ease-in-out ;
}

.skillsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  margin-top: -120px;
  /* filter: blur(1px); */
  /* background: linear-gradient(299.7deg, rgb(48, 91, 255), rgb(100, 100, 255), rgb(153, 125, 255), rgb(200, 150, 255)); */
  background-size: 200% 200%;
  /* animation: gradient 5s ease-in-out infinite; */
  background: radial-gradient(circle at left, rgba(48, 91, 255, 0.5), rgba(140, 114, 231, 0.5));
  animation: move 5s ease-in-out infinite;
}

.skillsdiv p {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(250, 235, 215);
  text-shadow: 4px 4px 4px rgb(56, 93, 255);
  font-family: press start;
}

.custom-shape-divider-top-1701866260 {
  position: absolute;
  top: 999;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -120px;
  


}

.custom-shape-divider-top-1701866260 svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 87px;
}

.custom-shape-divider-top-1701866260 .shape-fill {
  fill: #13111B;
}

.name {
  /* ...existing styles... */
  background: linear-gradient(299.7deg,rgba(250, 235, 215, 0.825), rgb(48, 91, 255),rgb(94, 102, 243), rgb(140, 114, 231));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 3rem;
  animation: Gradient 5s ease-in-out infinite;
}




.messenger {
  font-size: 2.2rem;
  font-family: jetbrains mono;
  font-weight: 600;
  /* color: rgb(89, 24, 223); */
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgb(48, 91, 255);

}

.dud {
  color: rgb(255, 255, 255);
  /* Change the color of the scrambling characters to green */
}

.dud:after {
  content: attr(data-letters);
  /* Set the content of the pseudo element to the data-letters attribute */
  position: absolute;
  /* Position the pseudo element */
  left: 0;
  /* Set the left property to 0 */
  text-shadow: -1px 0 rgb(163, 163, 229);
  /* Give the text a shadow effect */
  overflow: hidden;
  /* Hide text that overflows the element */
  animation: scramble 0.5s linear infinite;
  /* Create a scrambling effect using keyframes */
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes elastic {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(30px);
  }

  50% {
    transform: translateX(-20px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}




/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .messenger {
    font-size: 2.5rem;
  }
  .rightSec img {
    width: 100%;
    margin-left: 0;
  }
} */

/* @media (min-width:2100px) {
  .shapedividers_com-7518::before {
    background-size: 100% calc(2vw + 40px);
  }
} */


/* Small devices (portrait tablets and large phones, 600px to 900px) */
/* @media only screen and (min-width: 601px) and (max-width: 900px) {
  .messenger {
    font-size: 2.5rem;
  }
  .rightSec img {
    width: 120%;
    margin-left: 20px;
  }
} */


/* Medium devices (landscape tablets, 901px to 1200px) */
/* @media only screen and (min-width: 901px) and (max-width: 1200px) {
  .messenger {
    font-size: 2.5rem;
  }
  .rightSec img {
    width: 140%;
    margin-left: 40px;
  }
} */

/* Large devices (laptops/desktops, 1201px and up) */
/* @media only screen and (min-width: 1201px) {
  .messenger {
    font-size: 2.5rem;
  }
  .rightSec img {
    width: 160%;
    margin-left: 60px;
  }
} 
*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  .messenger {
    font-size: 2.5rem;
  }
  .rightSec img {
    width: 160%;
    margin-left: 100px;
  }
} */


/* @media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media {
}
  body {
    font-size: 1.5rem;
  } 
}